@import url(home.css);

/* import font  */
@import url(../font/Satoshi_Complete/Fonts/WEB/css/satoshi.css);

/* beginning of properties for header section  */
header nav ul li a {
    color: #18181B;
    /* font-weight: 700; */
}



/* end of properties for header section  */
/* beginning of properties for main section  */
/* beginning of properties for hero section  */
.au-hero-text {
    padding-top: 5rem;
}

.au-hero-text-title {
    color: #18181B;
    font-size: 4rem;
    width: 45%;
}

.au-hero-text-body {
    width: 52.5%;
}

.au-hero-text-body,
.au-mission-text-body,
.au-testimonial-head-body {
    font-size: 1.125rem;
    line-height: 1.55;
} 

.au-hero-img-img {
    width: 100%;
    aspect-ratio: 1280/723;
    padding: 3.5rem 0;
}

.au-hero-property-stat {
    width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* justify-content: center; */
    text-align: center;
}

.au-hero-property-stat span {
    font-size: 4.82rem;
    color: #18181B;
}

.au-hero-property-stat span sup {
    font-size: 3rem;
    color: #A0A0AB;
}
/* end of properties for hero section  */
/* beginning of properties for mission section  */
.au-mission-text {
    width: 45.8%;
    line-height: 1.2;
}

.au-mission-text-title {
    margin-bottom: 2rem;
}


.au-mission-img {
    width: 50.5%;
}

.au-mission-img-img {
    width: 100%;
    aspect-ratio: 646/770;
}

.au-mission-img-img-hidden {
    display: none;
}

/* end of properties for mission section  */
/* beginning of properties for certification section */
.au-certifications {
    text-align: center;
}

.au-certifications-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.au-certificaton {
    width: 15.2%;
    aspect-ratio: 194/56;
}
/* end of properties for certification section */
/* beginning of properties for testimonial section  */
.au-testimonial {
    background-color: #FCFCFC;
}

.au-testimonial-head {
    padding-bottom: 3.5rem;
    border-bottom: 2px solid #F4F4F5; 
    margin-bottom: 3.5rem;
}

.au-testimonial-head-title {
    width: 45.8%;
}

.au-testimonial-head-body {
    width: 44.3%;
}

.au-testimonial-body {
    align-items: center;
}

.au-testimonial-body-txt {
    width: 51.8%;
}

.au-testimonial-body-txt-quote-title {
    font-size: 3rem;
    padding: 1.25rem 0;
}

/* .au-testimonial-body-txt-quote-title span {
    font-size: 4rem;
} */

.au-testimonial-body-txt-quote-body {
    /* padding: 1.5rem 0; */
    font-size: 2rem;
    line-height: 1.67;
}

.au-testimonial-body-txt-quote-name {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.25rem 0;
}
.au-testimonial-body-txt-quote-active,
.au-testimonial-body-txt-quote-inactive {
    width: 4.7rem;
    height: 0.5rem;
    margin: 1.5rem 0.75rem 0 0;
    border-radius: 0.5rem;
}

.au-testimonial-body-txt-quote-active {
    background-color: #18181B;
}
.au-testimonial-body-txt-quote-inactive {
    background-color: #E4E4E7;
}

.au-testimonial-body-img {
    width: 42.7%;
}

.au-testimonial-body-img-img {
    width: 100%;
    aspect-ratio: 546/609;
}

.au-testimonial-body-txt-quote-status {
    display: flex;
}


/* end of properties for testimonial section  */
/* end of properties for main section  */

/* begginning of properties for interactive section  */
nav a:hover {
    background-color: #18181B11;
    transition: padding 0.3s ease;
}
/* end of properties for interactive section  */

/* beginning of responsive style properties  */
/* responsive properties desktop and device with small screen  */
@media only screen and (max-width: 1240px) {
    /* common properties  */
    .au-hero-text-body,
    .au-mission-text-body,
    .au-testimonial-head-body,
    .au-testimonial-body-txt-quote-name {
        font-size: 1rem;
        line-height: 1.55;
    } 

    /* properties for hero area - 1240  */
    .au-hero-text-title {
        font-size: 2.5rem;
    }

    .au-hero-property-stat span {
        font-size: 3rem;
    }

    .au-hero-property-stat span sup {
        font-size: 2rem;
    }

    /* properties for mission section - 1240  */
    .au-mission {
        flex-direction: column;
    }

    .au-mission-text,
    .au-mission-img {
        width: 100%;
    }

    .au-mission-img {
        margin-top: 3rem;
        width: 100%;
        /* height: 32.82rem; */
        aspect-ratio: 864/525;
    }

    .au-mission-img-img {
        /* width: 100%; */
        /* height: 32.82rem; */
        display: none;
        
    }

    .au-mission-img-img-hidden {
        width: 100%;
        display: block;
    }

    /* properties for certification section - 1240  */
    .au-certifications-title {
        font-weight: 400;
    }

    /* properties for testimonial section - 1240  */
    .au-testimonial-body-txt-quote-mark {
        width: 2rem;
    }

    .au-testimonial-body-txt-quote-title {
        font-size: 2rem;
    }

    .au-testimonial-body-txt-quote-body {
        font-size: 1.25rem;
    }

    .au-testimonial-body-img,
    .au-testimonial-body-img-img {
        height: 100%;
        aspect-ratio: 404/496;
    }

}

/* responsive properties for tablet and large screen mobiles */
@media only screen and (max-width: 767px) {

    /* properties for hero section - 767  */
    .au-hero-text,
    .au-hero-property-stats {
        flex-direction: column;
        gap: 1.5rem;
    }

    .au-hero-text-title,
    .au-hero-text-body,
    .au-hero-img {
        width: 100%;
    }

    .au-hero-img {
        aspect-ratio: 1/1;
    }

    .au-hero-img-img {
        width: 100%;
        height: 100%;
    }

    .au-hero-property-stat {
        width: 100%;
        text-align: center;
    }

    /* properties for mission section - 767  */
    /* .au-mission-img-img-hidden {
        aspect-ratio: 1/1;
    } */

    /* properties for certification section - 767  */
    .au-certifications-title {
        font-size: 2rem;
        margin-top: 5rem;
    }

    .au-certificatons-gallery {
        /* flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        padding-bottom: 3.75rem;
    }

    .au-certificaton {
        width: 100%;
    }

    /* properties for testimonial section - 767  */
    .au-testimonial-head,
    .au-testimonial-body {
        flex-direction: column;
        gap: 1.5rem;
    }

    .au-testimonial-head-title,
    .au-testimonial-head-body,
    .au-testimonial-body-txt,
    .au-testimonial-body-img {
        width: 100%;
    }

    .au-testimonial-body-img {
        padding-top: 3.5rem;
        padding-bottom: 3.75rem;
    }
}

/* properties for extra small device  */
@media only screen and (max-width: 424px) {
    /* properties for certification section - 424  */
    
    .au-certificatons-gallery {
        /* flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 1.5rem;
        padding-bottom: 3.75rem; */
    }

}
/* beginning of responsive style properties  */