@import url(home.css);
@import url(./about-us.css);

/* beginning of properties for header section  */
/* end of properties for header section  */
/* beginning of properties for main section  */
/* beginning of properties for hero section  */
.p-hero {
    padding-top: 10rem;
}

.p-hero-title {
    color: #18181B;
    font-size: 4rem;
    width: 45%;
}

.p-hero-body {
    width: 41%;
}
/* end of properties for hero section  */
/* beginning of properties for gallery section  */
.p-gallery-searchbar {
    background-image: url(../assets/property-listings/icons/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;
    border-radius: 0.75rem;
    border: 2px solid #E4E4E7;
    padding: 1rem 2.5rem;
    /* margin: 5rem 0 2.5rem; */
    margin-bottom: 2.5rem;
    width: 100%;
    font-size: 1rem;
    color: #E4E4E7;
}

.p-gallery-body-sidebar {
    width: 29.5%;
}

.p-gallery-body-sidebar-btns {
    padding: 0.75rem;
    border: 1px solid #E4E4E7;
    border-radius: 1rem;
}

.p-gallery-body-sidebar-btn {
    padding: 0.625rem;
    text-align: center;
    width: 46.8%;
    border: none;
    border-radius: 0.75rem;
    font-weight: 600;
}

.p-gallery-body-sidebar-btn-sell {
    background-color: #18181B;
    color: #FFF;
}

.p-gallery-body-sidebar-list {
    padding: 1.5rem 0;
    color: #18181B;
}

.p-gallery-body-sidebar-list li:first-child {
    padding-bottom: 1rem;
    font-weight: 600;
}

.p-gallery-body-sidebar-list li:not(:first-child) {
    padding-bottom: 0.75rem;
}

.p-gallery-wrapper {
    width: 67.5%;
    text-align: center;
}

.p-gallery-body-sidebar-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* text-align: center; */
}

/* .p-view-more {
    display: block;
} */
/* end of properties for gallery section  */
/* end of properties for main section  */